<!-- <button data-toggle="modal" data-target="#responsive-modal" class="model_img img-responsive">Show Image</button> -->

<div class="dialogClass hideImgUpdater" [class.hideImgUpdater]="imgUpdater.hideImgUpdater">
  <div id="responsive-modal" class="modal fadeIn animated fast " tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal Content is Responsive</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="showHideImgUpdater()">×</button>
        </div>
        <div class="modal-body">
          <div class=" text-center">

            <img *ngIf="!previousImg" [src]="imgUpdater.actualImg" alt="userImg" width="200px" height="200px">
            <img *ngIf="previousImg" [src]="previousImg" alt="userImg" width="200px" height="200px">

          </div>
          <input type="file" (change)="changeImage($event.target.files[0])">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal"
            (click)="showHideImgUpdater()">Close</button>
          <button type=" button" class="btn btn-danger waves-effect waves-light" (click)="uploadChangedImage()">Save changes</button>
        </div>
      </div>
    </div>
  </div>


</div>
