<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar"
  style="background-image:url(../assets/images/background/login-register.jpg);">
  <div class="login-box card">
    <div class="card-body">
      <!-- Formulario de registro -->
      <!-- //Al inicio del form se submite ya el mismo directamente al metodo creado para la creacion de
      //usuario en su conexion con el back end(createUser) a traves del ng-submit, por otra parte
      se bindea la dependencia de FomrBuilder Module [formGroup] a la variable inicializada ren el
      componente ts registerForm la cual emula en us items  cada uno de los inputs que
       este form tiene -->
      <form class="form-horizontal form-material" id="loginform" (ngSubmit)="createUser()" autocomplete="off"
        [formGroup]="registerForm">

        <a href="javascript:void(0)" class="text-center db"><img src="assets/images/logo-icon.png"
            alt="Home" /><br /><img src="assets/images/logo-text.png" alt="Home" /></a>
        <h3 class="box-title m-t-40 m-b-0">Register Now</h3><small>Create your account </small>

        <!-- //asociando el name del form builder asignado a a la variable registerForm  a este input -->
        <div class="form-group m-t-20">
          <div class="col-xs-12">
            <input class="form-control" type="text" placeholder="Your Name" formControlName="name">
          </div>
          <!-- Validacion del campo required de Name -->
          <div class="row">
            <div class="col text-danger">
              <p *ngIf="noValidFields('name')">Name is Obligatory</p>
            </div>
          </div>
        </div>

        <!-- //asociando el email del form builder asignado a a la variable registerForm  a este input -->
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" formControlName="email" placeholder="Email">
          </div>
          <!-- Validacion del campo required de Email -->
          <div class="row">
            <div class="col text-danger">
              <p *ngIf="noValidFields('email')">Email is Obligatory and Must be Valid</p>
            </div>
          </div>
        </div>

        <!-- //asociando el password del form builder asignado a a la variable registerForm  a este input -->
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="password" formControlName="password" placeholder="Password">
          </div>
          <!-- Validacion del campo required de Password -->
          <div class="row">
            <div class="col text-danger">
              <p *ngIf="noValidFields('password')">Password is Obligatory</p>
            </div>
          </div>
        </div>

        <!-- //asociando el confrim password del form builder asignado a a la variable registerForm  a este input -->
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" type="password" formControlName="confirmPassword"
              placeholder="Confirm Password">
          </div>
          <!-- Validacion del campo required de confirmPassword -->
          <div class="row">
            <div class="col text-danger">
              <p *ngIf="noValidFields('confirmPassword')">Password is Obligatory</p>
            </div>
          </div>
        </div>
        <!-- Validacion del campo required de termCheck-->
        <div class="row">
          <div class="col text-danger">
            <p *ngIf="noValidPasswords()">Passwords must to Match </p>
          </div>
        </div>


        <!-- //asociando el check term password del form builder asignado a a la variable registerForm  a este input -->
        <div class="form-group row">
          <div class="col-md-12">

            <div class="checkbox checkbox-primary p-t-0">
              <input formControlName="termCheck" id="checkbox-signup" type="checkbox">
              <label for="checkbox-signup"> I agree to all </label>
            </div>
            <!-- Validacion del campo required de termCheck-->
            <div class="row">
              <div class="col text-danger">
                <p *ngIf="checkTermsState()">You must accept the terms </p>
              </div>
            </div>

          </div>
        </div>


        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Sign
              Up</button>
          </div>
        </div>

        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>Already have an account? <a routerLink="/login" routerLinkActive="router-link-active"
                class="text-info m-l-5"><b>Sign In</b></a></p>
          </div>
        </div>

      </form>
      <!-- End of form -->
    </div>
  </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
