<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Doctor</h4>
        <h6 class="card-subtitle">information</h6>
        <form class="form p-t-20" [formGroup]="doctorForm" (ngSubmit)="saveDoctor()">
          <div class="form-group" *ngIf="doctorSelected">
            <label for="exampleInputuname">Doctor's Photo</label>
            <div class="input-group">
              <img [src]="doctorSelected.img| pipes:'doctors'" class="width100" alt="img">
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputuname">Doctor Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" class="form-control" id="exampleInputuname" placeholder="Doctor Name"
                formControlName="name">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Doctor's Hospital</label>
            <div class="input-group">

              <select class="form-control" name="hospitalSelect" id="hospitalSelector" formControlName="hospital">
                <option value="">Select Hospital</option>
                <option *ngFor="let hospital of hospitals" [value]="hospital.id">{{hospital.name}}</option>

              </select>
            </div>
          </div>


          <button [disabled]="doctorForm.invalid" type="submit"
            class="btn btn-success waves-effect waves-light m-r-10">Save</button>
          <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
        </form>
      </div>

    </div>

  </div>
  <div class="col-md-6" *ngIf="hospitalSelected">
    <div class="card">
      <div class="card-body">
        <div class="card-title">Hospital</div>
        <div class="card-subtitle">
          {{hospitalSelected.name}}
        </div>
        <img [src]="hospitalSelected.img | pipes:'hospitals'" class="width100" alt="img">


      </div>
    </div>
  </div>
</div>
