<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" #txtSearchHospital (keyup)="searchHospital(txtSearchHospital.value )" class="form-control"
          placeholder="Find the Hospital">
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Loading </h4>
      <i class='fa fa-spinner fa-spin fa-2x'></i>
      <p class='mb-0'>Please Wait ...</p>

    </div>
  </div>
</div>

<div class="row" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospitals Maintenance</h4>
        <h6 class="card-subtitle">Hospitals Registered ({{hospitals.length}})</h6>
        <button (click)="openPopUpCreateHospital()" class="btn btn-primary">Create Hospital</button>
        <br />
        <br />
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Hospital's Pic</th>
                <th>Hospital's Name</th>

                <th class="text-nowrap">Actions</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let hospital of hospitals">
                <td class='width100 text-center '>
                  <!-- {{hospital.img | pipes:'hospitals'}} -->
                  <img (click)="imgHospitalUpdater(hospital)" class="imgAvatar cursor"
                    [src]="hospital.img | pipes:'hospitals'" alt="hospital"></td>
                <td>

                  <input type="text" class="form-control" name="hospital" id="hospital" aria-describedby="helpId"
                    placeholder="Hospital Name" [(ngModel)]="hospital.name">
                </td>



                <td class="text-nowrap">
                  <a (click)="saveHospitalChanges(hospital)" data-toggle="tooltip" data-original-title="Save Changes">
                    <i class="fa fa-pencil text-inverse m-r-10 cursor"></i> </a>
                  <a (click)="deleteHospital(hospital)" data-toggle="tooltip" data-original-title="Clear"> <i
                      class="fa fa-close text-danger cursor"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
